[submodule "lib/maple-core"]
	path = lib/maple-core
	url = https://github.com/maple-labs/maple-core
[submodule "lib/maple-token"]
	path = lib/maple-token
	url = https://github.com/maple-labs/maple-token
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "cache/dapp-cache"]
	path = cache/dapp-cache
	url = git@github.com:maple-labs/maple-cache
